[Teams]
matchup = ["BOS", "ORL", "IND", "MIL", "LAL", "MIN"]


# matchup = ["ATL", "ORL", "BOS", "CHA", "BKN", "NYK", "CLE", "IND", "MIA", "WAS", "PHI", "CHI", "MIL", "DET", "HOU", "DEN", "MEM", "DAL", "MIN", "UTA", "NOP", "OKC", "SAS", "TOR", "GSW", "LAC", "POR", "LAL", "SAC", "PHX"]



